* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
}
.nav__list{
    display: flex;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

.nav-right{
    display: flex;
    justify-self:space-around;
    align-items: center;
}
.nav-right .search{
    margin-right: 20px;
}
.nav-right .user{
    margin-right: 20px;
}
.nav-right i{
    color: #fff;
    font-size: 1.3rem;
}
/*mobile*/
.nav_bars-btn{
    width: 28px;
    height: 28px;
    color: #fff;
    font-size:1.3rem
}
@media (max-width:1000px){

}