.admin {
  display: flex;
  --columns:2;
  margin-top: 50px;
}
@media (max-width: 923px) {
  .admin {
    --columns:1;
    display: unset;
    margin-top: 40px;
  }
  .admin .trang-tai-khoan {
    width: calc(100% / var(--columns));
    margin: 50px;
  }
  .admin .thong-tin-tai-khoan {
    width: calc(100% / var(--columns) - 100px);
    margin: 50px;
  }
}
@media (max-width: 623px) {
  .admin .trang-tai-khoan {
    width: calc(100% / var(--columns));
    margin: 10px 0 0 10px;
  }
  .admin .trang-tai-khoan h5 {
    font-size: 90%;
  }
  .admin .trang-tai-khoan p {
    font-size: 15px;
  }
  .admin .trang-tai-khoan-thong-tin {
    margin-top: 15px;
  }
  .admin .thong-tin-tai-khoan {
    width: calc(100% / var(--columns) - 50px);
    margin: 20px 20px -20px 10px;
  }
  .admin .thong-tin-tai-khoan h5 {
    font-size: 90%;
  }
  .admin .thong-tin-tai-khoan p {
    font-size: 17px;
  }
}

.trang-tai-khoan {
  width: calc(100% / var(--columns) - 25%);
}
.trang-tai-khoan p {
  font-size: 17px;
}
.trang-tai-khoan p:hover {
  color: #ffac4b;
}
.trang-tai-khoan p span {
  color: #ffac4b;
}
.trang-tai-khoan-thong-tin {
  margin-top: 25px;
}
.trang-tai-khoan .active {
  color: #ffac4b;
}

.thong-tin-tai-khoan {
  width: calc(100% / var(--columns) + 25%);
}
.thong-tin-tai-khoan p {
  font-size: 19px;
}
.thong-tin-tai-khoan p span {
  font-weight: 500;
}
.thong-tin-tai-khoan .right {
  display: none;
}
.thong-tin-tai-khoan .right.active {
  display: block;
}
.thong-tin-tai-khoan-name .form-control {
  width: 200px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.2em;
  color: #ffac4b;
  font-weight: 500;
}

table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}
table tr img {
  width: 80px;
  height: 90px;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  border: 1px solid aqua;
  font-size: 22px;
  font-weight: 500;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #ffac4b;
}

table td {
  padding: 25px 0 25px 0;
}

@media screen and (max-width: 600px) {
  table caption {
    font-size: 1.2em;
  }

  table thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    display: block;
    font-size: 0.8em;
    text-align: center;
    font-size: 20px;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
.Empy {
  display: none;
  font-size: 30px;
  color: #ffac4b;
  margin: 50px;
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

/*# sourceMappingURL=style.css.map */
