
$text-fontSize:17px;
$text-fontSizeTK:22px;
$fontWeight:500;

.admin{
    display:flex;
    --columns:2;
    margin-top: 50px;
}
.trang-tai-khoan{
    width: calc(100% / var(--columns) - 20%);
    p {
        font-size: $text-fontSize;
    }   
    &-thong-tin{
        margin-top:25px
    }
    
}
.thong-tin-tai-khoan{
    width: calc(100% / var(--columns) + 20%);
    
}

