
$text-hover:#ffac4b;

.tintuc{
    text-align: center;
    margin-top: 40px;
    &-header h2{
        font-weight: 700;
    }
    &-footer{
        font-size: 20px;
    }
}
.content{
    display:grid;
    grid-gap: 30px; 
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

    .content1{
        &-img img{
            width: 100%;
            height: 100%;
        }
        &-footer p{
            display: -webkit-box;
            -webkit-box-orient: vertical;
             overflow: hidden;
            -webkit-line-clamp: 4;
            text-align: center;
            margin-top:10px
        }
        &-header{
            margin-top:15px;
            text-align: center;
            a{
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                color: #000;
            }
            a:hover{
                color: $text-hover;
            }
        }
    }
    .content2{
        &-img img{
            width: 100%;
            height: 100%;
        }
        &-footer p{
            display: -webkit-box;
            -webkit-box-orient: vertical;
             overflow: hidden;
            -webkit-line-clamp: 4;
            text-align: center;
            margin-top:10px
        }
        &-header{
            margin-top:15px;
            text-align: center;
            a{
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                color: #000;
            }
            a:hover{
                color: $text-hover;
            }
        }
    }
    .content3{
        &-img img{
            width: 100%;
            height: 100%;
        }
        &-footer p{
            display: -webkit-box;
            -webkit-box-orient: vertical;
             overflow: hidden;
            -webkit-line-clamp: 4;
            text-align: center;
            margin-top:10px
        }
        &-header{
            margin-top:15px;
            text-align: center;
            a{
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                color: #000;
            }
            a:hover{
                color: $text-hover;
            }
        }
    }
}
@media (max-width: 1023px){
    .content{
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 50%;
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
        scroll-snap-stop: always;
        scroll-padding: 25px; 
    }
}
@media (max-width: 768px){
    .content{
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 80%;
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
        scroll-snap-stop: always;
        scroll-padding: 25px; 
    }
}