


.tintuc{
    text-align: center;
    margin-top: 20px;
    &-header h2{
        font-weight: 700;
    }
    &-footer{
        font-size: 20px;
    }

}
.content{
    display:grid;
    grid-gap: 30px; 
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    .content1{
        &-img{
            width: 100%;
            height: 100%;
        }
    }
}